
body {
    padding: 0;
    margin: 0;
    width:100%;
    background-color: black;
    color:rgb(169, 94, 231)
    ;
    font-family:fantasy;
  }

h2{
    color:white;
}
h3{
  color:whitesmoke;
}
h4{
  position:absolute;
  left: 10px;
  top:10px;
  color:whitesmoke;
}
p{
    text-align: center;
    color: rgb(128, 120, 120);
}
 
.navbar-custom {
background-color: rgb(169, 94, 231);
}

.flex-container {
    display:flex;
    justify-content: center;

}


iframe {
  margin-top: 0px;
  width:100%;
  height:50%;
}

div.main{
  position: absolute;
  width:1260px;
  top:55px;
  left:0px;
  height: 511px;
  border: 3px solid rgb(169, 94, 231);
}

div.main{
  position: absolute;
  width:1345px;
  top:55px;
  left:0px;
  height: 511px;
  border: 3px solid rgb(169, 94, 231);
}
div.table {
  position: absolute;
  width:500px;
  top:566px;
  left:345px;
  height: 380px;
  border: 3px solid rgb(169, 94, 231);

} 
div.container-2 {
  position: absolute;
  width:1075px;
  top:566px;
  left:0px;
  height: 380px;
  border: 3px solid rgb(169, 94, 231);

} 
div.trade-history {
  position: absolute;
  width:845px;
  top:566px;
  left:1075px;
  height: 380px;
  border: 3px solid rgb(169, 94, 231);

}

div.container {
  position: absolute;
  width:350px;
  top:566px;
  left:0px;
  height: 380px;
  border: 3px solid rgb(169, 94, 231);

} 
th{
  color:white;
}
div.container4 {
  position: absolute;
  width:345px;
  top:566px;
  left:0px;
  height: 380px;
  border: 3px solid rgb(169, 94, 231);

} 
div.ordermanager {
  position: absolute;
  width:576px;
  top:55px;
  right:0px;
  height: 511px;
  border: 3px solid rgb(169, 94, 231);

} 
img.current-position{
  position:absolute;
  left:0px;
  top:0px;
}
div.trend-test {
  position: absolute;
  width:100%;
  top:55px;
  
  border: 3px solid rgb(169, 94, 231);

}
img#trend-test {
  position: absolute;
  width:100%;
  left:0px;
  top:0px;
  height: 500px;
  border: 3px solid rgb(169, 94, 231);

}
div.trend-test2 {
  position: absolute;
  width:100%;
  border: 3px solid rgb(169, 94, 231);

}
img#trend-test2 {
  position: absolute;
  width:100%;
  left:0px;
  top:445px;
  height: 500px;
  border: 3px solid rgb(169, 94, 231);

}
.rets{
  position: absolute;
  left:10px;
  top:450px;
}
div.trend-test3 {
  position: absolute;
  width:100%;
  top:110px;
  border: 3px solid rgb(169, 94, 231);

}
img#trend-test3 {
  position: absolute;
  width:100%;
  left:0px;
  top:50px;
  border: 3px solid rgb(169, 94, 231);

}