<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>terminalLogic</title>
  <link rel="stylesheet" type="text/css" href="../static/css/portfolio.css">
  <link rel="stylesheet" type="text/css" href="../static/css/global.css">
  <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
  <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
</head>
<script src="../static/portfolio.js"></script>

<body>

  <!-- NAVBAR -->
  <header>
    <a href="dashboard.html" class="logo">terminalLogic</a>
    <div class="container">
      <div class="menu-button"></div>
      <ul class="flexnav" data-breakpoint="800">
        <li><a href="desk.html">The Desk</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">News</a></li>
        <li>
          <a href="#">Backtesting</a>
          <ul>
            <li><a classname="subnav" href="trendtests.html">Visualizing Momentum</a></li>
            <li><a classname="subnav" href="rangetests.hml">Visualizing Mean Reversion</a></li>
            <li><a classname="subnav" href="ml.html">Machine Learning</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Data</a>
          <ul>
            <li><a classname="subnav" href="trendtests.html">BTCPERP1M.csv</a></li>
            <li><a classname="subnav" href="rangetests.html">PORTFOLIO.csv</a></a></li>
            <li><a classname="subnav" href="ml.html">USERS.csv</a></li>
          </ul>
        </li>
        <li><a href="api.html">FTX API</a></li>
        <li><a href="https://ftx.us/trade/BTC/USD" target="_blank" rel="noopener noreferrer" >FTX Official Site</a></li>
        <li><a href="https://github.com/Travbz?tab=repositories" target="_blank" rel="noopener noreferrer" >Github</a></li>
      </ul>
    </div>
</header>
<!-- NAVBAR Ended -->
<main class="portfolio">
  <div class="portfolio_section">

    <div class="portfolio_image">
      <h6 class='portfolio_image_header'>Paper Backtest Portfolio Performance Over Time</h6>
      <img class="portfolio_img" src="../assets/portfolioStandings.png">
    </div>
  </div>
  <main class="portfolio">
    <div class="portfolio_section">
      <table class="portfolio_table">
        <thead>
          <tr>
            <th><h1>BTCPERP</h1></th>
            <th><h1>Holdings</h1></th>
            <th><h1>Cash</h1></th>
            <th><h1>Total</h1></th>
            <th><h1>Returns</h1></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
</main>
<footer>
  <p id="footer">Travis Bridle</p>
</footer>
</body>
<!-- SCRIPTS -->

<script src="https://0.s3.envato.com/files/78833207/js/jquery-1.9.0.min.js"></script>
  <script src="https://0.s3.envato.com/files/78833207/js/jquery.flexnav.js"></script>
  <script>
    $(".flexnav").flexNav();
  </script>


</html> 